:root {
  --violet: #5c47d3;
}

/* Header */
.header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
}
.header svg {
  color: var(--violet);
}
.header--name {
  margin-left: 10px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compteur {
  margin-top: 35vh;
  display: flex;
  margin-bottom: 15px;
}
.compteur--value {
  text-align: center;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  width: 50px;
}
.compteur button {
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
}
.violet {
  background-color: var(--violet);
  color: white;
  border-radius: 8px;
}
.reset button {
  font-size: 12px;
  padding: 5px 10px;
  border: none;
}
.invisible {
  color: white;
}
